In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 = {'playerName': ['Rahul', 'Abbas', 'Vipul', 'Dhirendra', 'Harshad'],
                    'playerId': ['pubg01', 'pubg02', 'pubg03', 'pubg04', 'pubg05'],
                    'score': [12055, 90454, 3346, 8097, 6623],
                    'Level': [13, 10, 4, 9, 7]}

dict2 = {'primaryWeapon': ['assault-rifle', 'smg', 'lmg', 'sniper', 'pistol'],
                    'throwables': ['apple', 'frag-grenade', 'molotov', 'smoke-grenade', 'stun-grenade']}

In [3]:
df1 = pd.DataFrame(dict1)
df2 = pd.DataFrame(dict2)

In [4]:
df1

  playerName playerId  score  Level
0      Rahul   pubg01  12055     13
1      Abbas   pubg02  90454     10
2      Vipul   pubg03   3346      4
3  Dhirendra   pubg04   8097      9
4    Harshad   pubg05   6623      7

In [5]:
df2

   primaryWeapon     throwables
0  assault-rifle          apple
1            smg   frag-grenade
2            lmg        molotov
3         sniper  smoke-grenade
4         pistol   stun-grenade

In [10]:
df3 = pd.concat([df1, df2], axis=1)

In [11]:
df3

  playerName playerId  score  Level  primaryWeapon     throwables
0      Rahul   pubg01  12055     13  assault-rifle          apple
1      Abbas   pubg02  90454     10            smg   frag-grenade
2      Vipul   pubg03   3346      4            lmg        molotov
3  Dhirendra   pubg04   8097      9         sniper  smoke-grenade
4    Harshad   pubg05   6623      7         pistol   stun-grenade

In [8]:
df3.set_index('playerId', inplace = True)

In [9]:
df3

         playerName  score  Level  primaryWeapon     throwables
playerId
pubg01        Rahul  12055     13  assault-rifle          apple
pubg02        Abbas  90454     10            smg   frag-grenade
pubg03        Vipul   3346      4            lmg        molotov
pubg04    Dhirendra   8097      9         sniper  smoke-grenade
pubg05      Harshad   6623      7         pistol   stun-grenade

In [12]:
type(np.nan)

float

In [14]:
2 + np.nan

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [16]:
vals = pd.DataFrame(np.arange(1, 25).reshape(6, 4))

In [17]:
vals

    0   1   2   3
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16
4  17  18  19  20
5  21  22  23  24

In [18]:
vals.loc[1, 1] = np.nan

In [19]:
vals

    0     1   2   3
0   1   2.0   3   4
1   5   NaN   7   8
2   9  10.0  11  12
3  13  14.0  15  16
4  17  18.0  19  20
5  21  22.0  23  24

In [20]:
vals.isnull()

       0      1      2      3
0  False  False  False  False
1  False   True  False  False
2  False  False  False  False
3  False  False  False  False
4  False  False  False  False
5  False  False  False  False

In [44]:
vals.notnull()

      0      1     2     3
0  True   True  True  True
1  True  False  True  True
2  True   True  True  True
3  True   True  True  True
4  True   True  True  True
5  True   True  True  True

In [47]:
vals.shape[1]

4

In [24]:
hello = pd.Series([4, 5, np.nan, 6.7])

In [43]:
hello.shape

(4,)

In [31]:
hello.sum(skipna=False)

nan

In [26]:
np.nansum(hello)

15.7

In [27]:
sum(hello)

nan

In [32]:
data = pd.DataFrame([[1, np.nan, 2],
                    [2, 3, 5], 
                    [np.nan, 4, 5]])

In [33]:
data

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  5

In [42]:
data.shape[0]

3

In [35]:
data.dropna(how='any', axis='rows')

     0    1  2
1  2.0  3.0  5

Question. Drop the columns containing atleast one null value

In [36]:
data.dropna(how='any', axis='columns')

   2
0  2
1  5
2  5

In [38]:
data.dropna(thresh=data.shape[1], axis='columns')

   2
0  2
1  5
2  5

In [48]:
data

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  5

In [49]:
data.loc[:, 3] = [np.nan, np.nan, np.nan]

In [50]:
data

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  5 NaN

Question. Drop columns with all missing values

In [51]:
data.dropna(how='all', axis='columns')

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  5

In [54]:
data.loc[3, :] = [np.nan, 4, np.nan, 6]

In [55]:
data

     0    1    2    3
0  1.0  NaN  2.0  NaN
1  2.0  3.0  5.0  NaN
2  NaN  4.0  5.0  NaN
3  NaN  4.0  NaN  6.0

Question. Rows should have atleast 3 non-missing / non-null values

In [56]:
data.dropna(axis='rows', thresh=3)

     0    1    2   3
1  2.0  3.0  5.0 NaN

Question. What will be the shape of the result if we do data.dropna(axis='rows', thresh=2)

In [59]:
data.dropna(axis='rows', thresh=2)

     0    1    2    3
0  1.0  NaN  2.0  NaN
1  2.0  3.0  5.0  NaN
2  NaN  4.0  5.0  NaN
3  NaN  4.0  NaN  6.0

In [60]:
#length of a column -> data.shape[0]
# length of a row -> data.shape[1]

Question. What if we have huge number of columns and we have to drop columns which have atleast 3 null values..we can't use thresh here?

In [63]:
#data.shape[0] = 4
# thresh = 1
data.dropna(axis='columns', thresh=data.shape[0]-3+1)

     0    1    2    3
0  1.0  NaN  2.0  NaN
1  2.0  3.0  5.0  NaN
2  NaN  4.0  5.0  NaN
3  NaN  4.0  NaN  6.0

In [62]:
len(data)

4

## Replacing values

In [70]:
data = pd.Series([1, np.nan, 2, None, 'hello'], index=['a', 'b', 'c', 'd', 'e'])

In [71]:
data

a        1
b      NaN
c        2
d     None
e    hello
dtype: object

In [83]:
data.fillna({'b':1234})

a        1
b     1234
c        2
d      NaN
e    hello
dtype: object

In [78]:
1 + 'hello'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [82]:
pd.Series([1, 2, 'hello', 'hello2', '345'])

0         1
1         2
2     hello
3    hello2
4       345
dtype: object

In [80]:
sum([1, 2, 'hello', 'hello2', '345'])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [84]:
# maximum data is between 10 and 20, say (500 values)
# very few values are between 100000-120000 (say 3 or 4 values)
# median might be better choice than mean !! ? 
# mean will be affected by presence of outliers. 
# median will not be affected or affected very little.

## Melbourne house pricing dataset

In [85]:
df = pd.read_csv('melbourne.csv')

In [86]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

In [87]:
df.shape

(23547, 21)

In [96]:
df.dropna().shape[0] # rem rows

6196

In [95]:
df.shape[0] - df.dropna().shape[0] # dropped rows

17351

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23547 entries, 0 to 23546
Data columns (total 21 columns):
Suburb           23547 non-null object
Address          23547 non-null object
Rooms            23547 non-null int64
Type             23547 non-null object
Price            18396 non-null float64
Method           23547 non-null object
SellerG          23547 non-null object
Date             23547 non-null object
Distance         23546 non-null float64
Postcode         23546 non-null float64
Bedroom2         19066 non-null float64
Bathroom         19063 non-null float64
Car              18921 non-null float64
Landsize         17410 non-null float64
BuildingArea     10018 non-null float64
YearBuilt        11540 non-null float64
CouncilArea      15656 non-null object
Lattitude        19243 non-null float64
Longtitude       19243 non-null float64
Regionname       23546 non-null object
Propertycount    23546 non-null float64
dtypes: float64(12), int64(1), object(8)
memory usage: 3.8+ MB

In [89]:
df.isnull()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
9,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
16,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
20,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
22,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
28,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23517,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
23518,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
23519,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
23520,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23521,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23522,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
23523,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
23524,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
23525,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23526,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
23527,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23528,False,False,False,False,True,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
23529,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
23530,False,False,False,False,True,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
23531,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
23532,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23533,False,False,False,False,True,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
23534,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
23535,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
23536,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
23537,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
23538,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23539,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
23540,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
23541,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23542,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23543,False,False,False,False,True,False,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
23544,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
23545,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23546,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False

In [90]:
df.notnull()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,True,True,True,True,False,True,True,True,True,True,...,True,True,True,False,False,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,False,False,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,False,True,True,True,True,True,...,True,True,True,False,False,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True,...,True,True,True,False,False,True,True,True,True,True
6,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
7,True,True,True,True,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
8,True,True,True,True,False,True,True,True,True,True,...,True,True,True,False,True,True,True,True,True,True
9,True,True,True,True,False,True,True,True,True,True,...,True,True,True,False,True,True,True,True,True,True
10,True,True,True,True,True,True,True,True,True,True,...,True,True,True,False,False,True,True,True,True,True
11,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
12,True,True,True,True,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
13,True,True,True,True,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
15,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
16,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
17,True,True,True,True,True,True,True,True,True,True,...,True,True,True,False,False,True,True,True,True,True
18,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
19,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
20,True,True,True,True,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
21,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
22,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
23,True,True,True,True,True,True,True,True,True,True,...,True,True,True,False,False,True,True,True,True,True
24,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
26,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,True,True,True,True
27,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
28,True,True,True,True,True,True,True,True,True,True,...,True,True,True,False,False,True,True,True,True,True
29,True,True,True,True,True,True,True,True,True,True,...,True,True,True,False,False,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23517,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,False,True,True,True,True
23518,True,True,True,True,True,True,True,True,True,True,...,True,True,True,False,False,False,True,True,True,True
23519,True,True,True,True,True,True,True,True,True,True,...,True,True,True,False,False,False,True,True,True,True
23520,True,True,True,True,False,True,True,True,True,True,...,True,True,True,True,True,False,True,True,True,True
23521,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,True,True,True,True
23522,True,True,True,True,False,True,True,True,True,True,...,True,True,True,False,False,False,True,True,True,True
23523,True,True,True,True,True,True,True,True,True,True,...,True,True,True,False,False,False,True,True,True,True
23524,True,True,True,True,True,True,True,True,True,True,...,True,True,True,False,False,False,True,True,True,True
23525,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,True,True,True,True
23526,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,False,True,True,True,True
23527,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,True,True,True,True
23528,True,True,True,True,False,True,True,True,True,True,...,True,True,False,False,False,False,True,True,True,True
23529,True,True,True,True,False,True,True,True,True,True,...,True,True,True,False,False,False,True,True,True,True
23530,True,True,True,True,False,True,True,True,True,True,...,True,True,False,False,False,False,True,True,True,True
23531,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
23532,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,True,True,True,True
23533,True,True,True,True,False,True,True,True,True,True,...,True,True,False,False,False,False,True,True,True,True
23534,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,False,True,True,True,True
23535,True,True,True,True,True,True,True,True,True,True,...,True,True,True,False,False,False,True,True,True,True
23536,True,True,True,True,True,True,True,True,True,True,...,True,True,False,False,False,False,True,True,True,True
23537,True,True,True,True,True,True,True,True,True,True,...,True,True,True,False,True,False,True,True,True,True
23538,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,True,True,True,True
23539,True,True,True,True,True,True,True,True,True,True,...,True,True,True,False,True,False,True,True,True,True
23540,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,False,True,True,True,True
23541,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,True,True,True,True
23542,True,True,True,True,False,True,True,True,True,True,...,True,True,True,True,True,False,True,True,True,True
23543,True,True,True,True,False,True,True,True,True,True,...,False,False,False,False,False,False,True,True,True,True
23544,True,True,True,True,True,True,True,True,True,True,...,True,True,False,False,False,False,True,True,True,True
23545,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,True,True,True,True
23546,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,False,True,True,True,True

In [91]:
df.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             5151
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          4481
Bathroom          4484
Car               4626
Landsize          6137
BuildingArea     13529
YearBuilt        12007
CouncilArea       7891
Lattitude         4304
Longtitude        4304
Regionname           1
Propertycount        1
dtype: int64

In [100]:
df.isnull().any(axis=0)

Suburb           False
Address          False
Rooms            False
Type             False
Price             True
Method           False
SellerG          False
Date             False
Distance          True
Postcode          True
Bedroom2          True
Bathroom          True
Car               True
Landsize          True
BuildingArea      True
YearBuilt         True
CouncilArea       True
Lattitude         True
Longtitude        True
Regionname        True
Propertycount     True
dtype: bool

In [102]:
df.isnull().any(axis='columns') # 1 or columns , 0 or rows

0         True
1         True
2        False
3         True
4        False
5         True
6        False
7         True
8         True
9         True
10        True
11       False
12        True
13        True
14       False
15        True
16        True
17        True
18       False
19        True
20        True
21        True
22        True
23        True
24       False
25       False
26        True
27        True
28        True
29        True
         ...
23517     True
23518     True
23519     True
23520     True
23521     True
23522     True
23523     True
23524     True
23525     True
23526     True
23527     True
23528     True
23529     True
23530     True
23531     True
23532     True
23533     True
23534     True
23535     True
23536     True
23537     True
23538     True
23539     True
23540     True
23541     True
23542     True
23543     True
23544     True
23545     True
23546     True
Length: 23547, dtype: bool

In [104]:
df.isnull().all(axis=0) # checking if all values in a column are missing

Suburb           False
Address          False
Rooms            False
Type             False
Price            False
Method           False
SellerG          False
Date             False
Distance         False
Postcode         False
Bedroom2         False
Bathroom         False
Car              False
Landsize         False
BuildingArea     False
YearBuilt        False
CouncilArea      False
Lattitude        False
Longtitude       False
Regionname       False
Propertycount    False
dtype: bool

In [105]:
df.isnull().all(axis=1) #checking if a row has all missing values

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
23517    False
23518    False
23519    False
23520    False
23521    False
23522    False
23523    False
23524    False
23525    False
23526    False
23527    False
23528    False
23529    False
23530    False
23531    False
23532    False
23533    False
23534    False
23535    False
23536    False
23537    False
23538    False
23539    False
23540    False
23541    False
23542    False
23543    False
23544    False
23545    False
23546    False
Length: 23547, dtype: bool

In [106]:
df.isnull().all(axis=1).sum() # no row with all values missing inside it

0

In [107]:
df.isnull().sum(axis=1) # sum of missing values in each row. basically, how many values in a row are missing

0        3
1        2
2        0
3        3
4        0
5        2
6        0
7        1
8        2
9        2
10       2
11       0
12       1
13       1
14       0
15       9
16       9
17       2
18       0
19       9
20       1
21       9
22       9
23       2
24       0
25       0
26       7
27       9
28       2
29       2
        ..
23517    2
23518    3
23519    3
23520    2
23521    1
23522    4
23523    3
23524    3
23525    1
23526    2
23527    1
23528    5
23529    4
23530    5
23531    9
23532    1
23533    5
23534    2
23535    3
23536    4
23537    2
23538    1
23539    2
23540    2
23541    1
23542    2
23543    8
23544    4
23545    1
23546    2
Length: 23547, dtype: int64

Question. You don't have value for price of houses. and you have all the remaining values.

In [113]:
round((df.isnull().sum() / df.shape[0])*100,2) # percentage of missing values in a particular column

Suburb            0.00
Address           0.00
Rooms             0.00
Type              0.00
Price            21.88
Method            0.00
SellerG           0.00
Date              0.00
Distance          0.00
Postcode          0.00
Bedroom2         19.03
Bathroom         19.04
Car              19.65
Landsize         26.06
BuildingArea     57.46
YearBuilt        50.99
CouncilArea      33.51
Lattitude        18.28
Longtitude       18.28
Regionname        0.00
Propertycount     0.00
dtype: float64